<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Suppression du licencie</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- LINEARICONS -->
    <link rel="stylesheet" href="{{ asset('../public/fonts/linearicons/style.css') }}">

    <!-- STYLE CSS -->
    <link rel="stylesheet" href="{{ asset('../public/css/style.css') }}">
</head>

<body>
    <a href="{{ path('home') }}"> Listes des licencies </a>

    <div class="wrapper">
        <div class="inner">
            <img src="{{ asset('../public/images/image-1.png') }}" alt="" class="image-1">
            <form action="{{ path('LicencieController') }}" method="post">
                <h3>Voulez vous le supprimer?</h3>
                <div class="form-holder">
                    <span class="lnr lnr-drop"></span>
                    <input type="text" class="form-control" id="num" value="{{ current_line.getNum() }}" name="num"
                        placeholder="Numéro du licencie" required>
                </div>

                <div class="form-holder">
                    <span class="lnr lnr-drop"></span>
                    <input type="text" class="form-control" id="nom" value="{{ current_line.getNom() }}" name="nom"
                        placeholder="Numéro du licencie" required>
                </div>

                <div class="form-holder">
                    <span class="lnr lnr-drop"></span>
                    <input type="text" class="form-control" id="prenom" value="{{ current_line.getPrenom() }}"
                        name="prenom" placeholder="Prenom du licencie" required>
                </div>

                <div class="form-holder">
                    <span class="lnr lnr-pencil"></span>
                    <input type="text" class="form-control" name="code" value="{{ current_line.getCodeRaccourci() }}"
                        placeholder="Code de la categorie" required>
                </div>

                <input type="submit" name="action" value="Supprimer">

            </form>
            <img src="{{ asset('../public/images/image-2.png') }}" alt="" class="image-2">
        </div>

    </div>

    <script src="{{ asset('../public/js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ asset('../public/js/main.js') }}"></script>
</body>

</html>
