<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Modifier d'un éducateur</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- LINEARICONS -->
    <link rel="stylesheet" href="{{ asset('../public/fonts/linearicons/style.css') }}">

    <!-- STYLE CSS -->
    <link rel="stylesheet" href="{{ asset('../public/css/style.css') }}">
</head>

<body>
    <a href="{{ path('home') }}"> Listes des éducateurs </a>
    <div class="wrapper">
        <div class="inner">
            <img src="{{ asset('images/image-1.png') }}" alt="" class="image-1">
            <form action="{{ path('educateur_controller') }}" method="post">
                <h3>Voulez-vous modifier celui-ci?</h3>
                <div class="form-holder">
                    <span class="lnr lnr-drop"></span>
                    <input type="text" class="form-control" id="email" value="{{ current_line.getEmail() }}" name="email" placeholder="Email de l'éducateur" required>
                </div>
                <div class="form-holder">
                    <span class="lnr lnr-drop"></span>
                    <input type="text" class="form-control" id="password" name="password" value="{{ current_line.getMotDePasse() }}" placeholder="Mot de passe" required>
                </div>

                <div class="form-holder">
                    <span class="lnr lnr-drop"></span>
                    <input type="text" class="form-control" id="admin" name="admin" value="{{ current_line.isAdmin() }}" placeholder="Role" required>
                </div>

                <div class="form-holder">
                    <span class="lnr lnr-pencil"></span>
                    <select id="numLicencie" name="numLicencie" required>
                        {% for lic in licencies %}
                            <option {{ current_line.getNum() == lic.getNum() ? 'selected' : '' }} value="{{ lic.getNum() }}">{{ lic.getNom() }}</option>
                        {% endfor %}
                    </select><br>
                </div>
                <input type="submit" name="action" value="Modifier">
            </form>
            <img src="{{ asset('../public/images/image-2.png') }}" alt="" class="image-2">
        </div>

    </div>
    <script src="{{ asset('../public/js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ asset('..public/js/main.js') }}"></script>
</body>

</html>
