{# templates/categorie/update.html.twig #}

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Modification de la catégorie</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- LINEARICONS -->
		<link rel="stylesheet" href="{{ asset('../public/fonts/linearicons/style.css') }}">
		
		<!-- STYLE CSS -->
		<link rel="stylesheet" href="{{ asset('../public/css/style.css') }}">
	</head>
	<body>
    <a href="{{ path('update_categories') }}">Liste des catégories</a>
		<div class="wrapper">
			<div class="inner">
				<img src="{{ asset('../public/images/image-1.png') }}" alt="" class="image-1">
				<form action="{{ path('update_categories') }}"  method="post">
					<h3>Voulez-vous la modifier ?</h3>
					<div class="form-holder">
						<span class="lnr lnr-drop"></span>
						<input type="text" class="form-control" id="libelle" name="libelle"  placeholder="Nom de la catégorie" required >
					</div>
					<div class="form-holder">
						<span class="lnr lnr-pencil"></span>
						<input type="text" class="form-control" id="code" name="code"   placeholder="Code de la catégorie" required >
					</div>
				
                    <input type="submit" name="action" value="Modifier">

					<input type="hidden" name="lastCode" >
				
				</form>
				<img src="{{ asset('../public/images/image-2.png') }}" alt="" class="image-2">
			</div>
			
		</div>
		
		<script src="{{ asset('../public/js/jquery-3.3.1.min.js') }}"></script>
		<script src="{{ asset('../public/js/main.js') }}"></script>
	</body>
</html>
