{# templates/contact/ajouter.html.twig #}

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- LINEARICONS -->
		<link rel="stylesheet" href="{{ asset('../public/fonts/linearicons/style.css') }}">

		<!-- STYLE CSS -->
		<link rel="stylesheet" href="{{ asset('../public/css/style.css') }}">
	</head>

	<body>

    <a href="{{ path('liste_contacts') }}">Liste des différents contacts</a>

		<div class="wrapper">
			<div class="inner">
				<img src="{{ asset('../public/images/image-1.png') }}" alt="" class="image-1">
				<form action="{{ path('ajouter_contact') }}"  method="post">
					<h3>Ajout d'un contact?</h3>
					<div class="form-holder">
						<span class="lnr lnr-user"></span>
						<input type="text" class="form-control"  id="id" name="id" required placeholder="Numero du contact">
					</div>

					<div class="form-holder">
						<span class="lnr lnr-phone-handset"></span>
						<select id="numLicencie" name="numLicencie" required>
            {% for lic in licencies %}
                <option value="{{ lic.getNum() }}">{{ lic.getNom() }}</option>
            {% endfor %}
        </select><br>
					</div>

					<div class="form-holder">
						<span class="lnr lnr-user"></span>
						<input type="text" class="form-control" id="nom" name="nom" required  placeholder="Nom du Contact ">
					</div>

                    <div class="form-holder">
						<span class="lnr lnr-user"></span>
						<input type="text" class="form-control" id="prenom" name="prenom" required  placeholder="Prenom du Contact ">
					</div>

                    <div class="form-holder">
						<span class="lnr lnr-envelope"></span>
						<input type="text" class="form-control" id="email" name="email" required placeholder="Email du Contact ">
					</div>

                    <div class="form-holder">
						<span class="lnr lnr-phone"></span>
						<input type="text" class="form-control" id="telephone" name="telephone" required placeholder="Telephone du Contact ">
					</div>

                    <input type="submit" name="action" value="Ajouter">
				
				</form>
				
