{# templates/contact/modifier.html.twig #}

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Modification du contact</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- LINEARICONS -->
		<link rel="stylesheet" href="{{ asset('../public/fonts/linearicons/style.css') }}">
		
		<!-- STYLE CSS -->
		<link rel="stylesheet" href="{{ asset('../public/css/style.css') }}">
	</head>
	<body>
    <a href="{{ path('update_contact') }}">Listes des contacts</a>
		<div class="wrapper">
			<div class="inner">
				<img src="{{ asset('../public/images/image-1.png') }}" alt="" class="image-1">
				<form action="{{ path('update_contact', {'id': current_line.getCode()}) }}"  method="post">
					<h3>Voulez-vous le modifier?</h3>
                    <div class="form-holder">
						<span class="lnr lnr-drop"></span>
						<input type="text" class="form-control" id="id" value="{{ current_line.getCode() }}" name="libelle"   placeholder="Identifiant du Contact" required >
					</div>

                    <div class="form-holder">
						<span class="lnr lnr-drop"></span>
						<input type="text" class="form-control" id="nom" name="nom" value="{{ current_line.getNom() }}"  placeholder="Nom du Contact" required >
					</div>

                    <div class="form-holder">
						<span class="lnr lnr-drop"></span>
						<input type="text" class="form-control" id="prenom" name="prenom" value="{{ current_line.getPrenom() }}"  placeholder="Prenom du contact" required >
					</div>

                    <div class="form-holder">
						<span class="lnr lnr-drop"></span>
						<input type="text" class="form-control"  id="email" name="email" value="{{ current_line.getEmail() }}"  placeholder="Email du contact" required >
					</div>
                    <div class="form-holder">
						<span class="lnr lnr-drop"></span>
						<input type="text" class="form-control" id="telephone" name="telephone" value="{{ current_line.getTelephone() }}"  placeholder="Telephone du contact" required >
					</div>
					<div class="form-holder">
						<span class="lnr lnr-pencil"></span>
                        <select id="numLicencie" name="numLicencie" required>
                            {% for lic in licencies %}
                                <option {{ current_line.getNum() == lic.getNum() ? 'selected' : '' }} value="{{ lic.getNum() }}">{{ lic.getNom() }}</option>
                            {% endfor %}
                        </select><br>
					</div>
				
                    <input type="submit" name="action" value="Modifier">
				</form>
				<img src="{{ asset('../public/images/image-2.png') }}" alt="" class="image-2">
			</div>
			
		</div>
		
		<script src="{{ asset('../public/js/jquery-3.3.1.min.js') }}"></script>
		<script src="{{ asset('../public/js/main.js') }}"></script>
	</body>
</html>
