{# templates/mail_contact/liste_mails_contact.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Liste des mails envoyés aux contacts{% endblock %}

{% block body %}
    <h1>Liste des mails envoyés aux contacts</h1>

    <ul>
        {% for mailContact in mailsContact %}
            <li>
                Date d'envoi : {{ mailContact.dateenvoi|date('Y-m-d H:i:s') }}<br>
                Objet : {{ mailContact.objet }}<br>
                Message : {{ mailContact.message }}<br>
                Destinataires :
                {% for contact in mailContact.contactsDestinataires %}
                    {{ contact.nom }} {{ contact.prenom }}{% if not loop.last %}, {% endif %}
                {% endfor %}
                <br>
                <a href="{{ path('supprimer_mail_contact', {'id': mailContact.id}) }}">Supprimer</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
